page-home {

    
    .div1{
        position: relative;
        width: 100%;
        height: 0px;
        padding-top: 100%;
        
    }

    .div2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        font-size: 3rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

    .bgdefault{
        background: #d3d3d3;
    }


    .txt2{background: #ffa100}
    .txt4{background: #e82c5c}
    .txt8{background:#1c8999}
    .txt16{background:#1cd18f}
    .txt32{background:#ed5e82}
    .txt64{background:#9A32CD}
    .txt128{background:#8B2323}
    .txt256{background:#0000EE}
    .txt512{background:#383838}
    .txt1024{background:#848484}
    .txt2048{background:#19c1ab}

}
